<!-- <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Onloine Shopping</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="p_list" class="nav-link">view products</a>
        </li>
        <li class="nav-item">
          <a routerLink="add_product" class="nav-link">Add product</a>
        </li>
      </div>
    </nav>
  
    <div class="containerfluid mt-5"> -->
      
    <!-- </div>
  </div> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>