.mine{
    
    background-color: #389b91;
}
.bg-picture {
    background-image: url("https://cdn2.hubspot.net/hubfs/53/ecommerce-10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}